.titleWrapper{
    /* border: 1px solid white; */
    width:50vw;
    height: 40vh;
    font-size: 15rem;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}

.titleWrapper div,.TED{
    min-height: 100%;
    width: 100%;
    /* border: 1px solid salmon; */
    overflow: hidden;
    text-shadow: 0 0 15px rgba(0, 0, 0,0.4);
    font-weight: 600;
}

.titleContainer2{
    height:0vh;
    display: flex;
    /* transform: translate(-75%,-100%); */
}

.titleContainer3{
    background-color: rgb(29, 29, 29);
}

#X{
    background-color: red;
    color: black;
    text-align: center;
}