.titleWrapper{
    /* border: 1px solid white; */
    width:50vw;
    height: 40vh;
    font-size: 15rem;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}

.titleWrapper div,.TED{
    min-height: 100%;
    width: 100%;
    /* border: 1px solid salmon; */
    overflow: hidden;
    text-shadow: 0 0 15px rgba(0, 0, 0,0.4);
    font-weight: 600;
}

.titleContainer2{
    height:0vh;
    display: flex;
    /* transform: translate(-75%,-100%); */
}

.titleContainer3{
    /* background-color: rgb(29, 29, 29); */
    background-color: black;
}

#X{
    background-color: red;
    color: black;
    text-align: center;
}

.reveal-heading{
    /* style={{overflow:"hidden",color:"red",fontWeight:"700",fontSize:"5rem",margin:0}} */
    overflow: hidden;
    color: red;
    font-weight: 700;
    font-size: 5rem;
    margin:0;
}

.reveal-heading span{
    /* style={{color:"white",fontWeight:"200",fontSize:"4.5rem"}} */
    color: white;
    font-weight: 200;
    font-size: 4.5rem;
}

.section-wrapper{
    /* style={{width:"80vw",height:"100%"}} */
    width: 60vw;
    height: fit-content;
    /* border: 1px solid; */
    /* border: 1px solid #6c6c6c;
    border-radius: 15px;
    background-color: #171717; */
}