.Navbarbg{
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  position: fixed;
  z-index: 90;

  
  
}
.NavB{
  padding: 0 20px;

  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;


}
.Nav{
  font-size: 22px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.Nav h1{
  font-weight: 800;
  color: red;
}


.Nav li{
  list-style: none;
}

.Nav a{
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.Nav a:hover{
  cursor: pointer;
  transition: all 0.8s ease;
  color: red;
}

.Nav li.active a {
  color: red; 
}
.no-scroll {
  overflow: hidden; 
}


.buttonn {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 21px;
  color: black;
  border-radius: 5px;
  background-color: red;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.buttonn::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: white;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.buttonn:hover::before {
  scale: 3;
}

.buttonn:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.buttonn:active {
  scale: 1;
}

.mobMenu{
  display: none;

}
@media (max-width: 768px) {
  .Nav , .buttonn {
    display: none;
    
    
  }
  .mobMenu{
    z-index: 90;
    display: flex;
    width: 100%;
    justify-content: space-between;
    place-items: center;
  }

  .Navbarbg{
    width: 100vw;
  }
  .NavB{
    display: flex;
    width: 90vw;
    justify-content: space-between;
  }
  .NavB h1{
    font-weight: 800;
    color: red;
  
    
  
  }
}

.MobNav{
  z-index: 100;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.MobNav li{
  z-index: 100;
  
  list-style: none;
  
}
.MobNav a:hover{
  cursor: pointer;
  transition: all 0.8s ease;
  color: black;



}
.MobNav li.active a {
  color: black; 
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(255, 0, 0);
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}