.regsitrationCard{
    width:30vw;
    height: 70vh;
    border: 1px solid rgba(157, 159, 161,0.5);
    border-radius: 15px;
    background-color: #0c0c0c;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
    /* background-image: linear-gradient(360deg,#5B8A72,#004d42); */
  }
  
  .regsitrationCard h1{
    font-weight: 600;
    font-size: 30px;
    color: white;
  }
  .regsitrationCard a{
    text-decoration: none;
 
  }
  .regsitrationCard .price{

    color: red;
  }
  
  
  .regsitrationCard p {
    font-weight: 400;
    font-size: 20px;
  }
  
  .regsitrationCard button{
    border: 1px solid;
    color: black;
    width:50%;
    height: 10%;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background: white
  }
  
  .regsitrationCard:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255,0.4);
  }
  
  .headingRegistration{
    display:flex;
    font-size: 40px;
    align-items: center;
    /* justify-content: space-around; */
  }