.cardWrapper{
    width: 100vw;
    height:60vh;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

.card{
    background-color: #1e1e1e;
    position: relative;
    min-width: 30vw;
    height:100%;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s;
}

.imgDiv{
    position: absolute;
}

.glassDiv{
    opacity: 0;
    width: 100%;
    height:100%;
    z-index: 2;
    position: absolute;
    /* border: 1px solid white; */
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    transition: all 0.3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.glassDiv div{
    opacity: 0.5;
    transform: translateY(300px) scale(0.6);
    transition: all 0.6s;
    background-color: rgb(218, 0, 0);
    height: 35%;
    width:40%;
    border-radius: 50%;
    box-shadow: 0 0 30px black;
    overflow: hidden;
}
#arrow{
    transform: translateX(-200px);
    transition: all 0.6s;
}

.glassDiv:hover{
    opacity: 1;
}

.glassDiv:hover > div{
    /* transform: translateX(200px); */
    opacity: 1;
    transform: translateY(0px) scale(1);
}

.glassDiv:hover #arrow{
    /* transform: translateX(200px); */
    transform: translateX(0px);
}

.card:hover {
    transform: scale(1.05) translateY(-3%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    border: 3px solid black;
  }
  