.containr {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    place-items: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#hd{
    font-size:75px;
}

#heading{
    border:"1px solid white";
    font-size: 50px;
    margin: 30px 0px;


}

.team-sec {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-items: center;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    align-self: start;
}

.team-img img {
    border-radius: 50%;
    object-fit: cover;
    height: 220px;
    width: 220px;
    transition: border 0.1s ease;
    /* filter: grayscale(100%); */
}

.team-img img:hover {
    outline: 2px solid red;
    /* padding: 3px; */
    cursor: pointer;
  }
  
  .team-mem {
    font-size: 0.7rem;
    color: white;
    position: absolute;
    bottom: -50px; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.3s ease; 
    text-align: center;
    width: 80%; 
  }
  
  .team-mem h1 { 
    font-weight: 800;
    margin: 30px 0;

  }
  
  .team-mem p {
    margin: 0 0;
    font-size: 0.8rem;
  }

  .team-img:hover .team-mem {
    bottom: 5px; 
    opacity: 1;
  }

  
.team-img {
    position: relative; 
}

@media screen and (max-width: 1200px) {
    .team-img img {
        border-radius: 50%;
        object-fit: cover;
        height: 180px;
        width: 180px;
        transition: border 0.1s ease;
    }
    .team-members {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 900px) {
    .team-members {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .team-img img {
        border-radius: 50%;
        object-fit: cover;
        height: 140px;
        width: 140px;
        transition: border 0.1s ease;
    }
    .team-members {
        padding: 0 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        row-gap: 25px; 
    }
}
